<mat-tab-group mat-align-tabs="start" animationDuration="0ms">
  <mat-tab label="New Order"><app-order></app-order></mat-tab>
  <mat-tab label="New Product"><app-product></app-product></mat-tab>
  <mat-tab label="New Vendor"><app-vendor></app-vendor></mat-tab>
  <mat-tab label="New Brand"><app-brand></app-brand></mat-tab>
  <mat-tab label="New Category"><app-category></app-category></mat-tab>
</mat-tab-group>
