<div flexLayout="row" fxLayoutAlign="end">
  <button mat-dialog-close title="Close" mat-icon-button color="primary" aria-label="Close">
    <mat-icon>cancel</mat-icon>
  </button>
</div>

<mat-dialog-content>
  <app-sales-record
    [salesRecordType]="data.salesRecord.recordType"
    [salesRecord]="data.salesRecord"
    [action]="data.action"
  ></app-sales-record>
</mat-dialog-content>
