<mat-card>
  <mat-form-field appearance="fill">
    <mat-label>Please Select </mat-label>
    <mat-select (selectionChange)="reset()" [(ngModel)]="selectedSalesRecordType">
      <mat-option *ngFor="let type of SALES_RECORD_TYPES" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div fxLayout="column" class="nonPrint" *ngIf="selectedSalesRecordType">
    <div fxLayout="row">
      <app-time-range-form fxFlex="50" (parentOnSearch)="searchByTimeRange($event)"></app-time-range-form>
    </div>
    <table mat-table *ngIf="dataSource.data.length > 0" [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="width: 20%">ID</th>
        <td mat-cell *matCellDef="let element" style="width: 20%">{{ element._id }}</td>
      </ng-container>

      <ng-container matColumnDef="salesman">
        <th mat-header-cell *matHeaderCellDef style="width: 20%">Salesman</th>
        <td mat-cell *matCellDef="let element" style="width: 20%">{{ element.salesman }}</td>
      </ng-container>

      <ng-container matColumnDef="totalAmount">
        <th mat-header-cell *matHeaderCellDef style="text-align: right">Total Amt.</th>
        <td mat-cell *matCellDef="let element" style="text-align: right; width: 10%">{{ element.total | currency }}</td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">Created At</th>
        <td mat-cell *matCellDef="let element" style="text-align: center; width: 20%">
          {{ element.createdAt | date: 'HH:mm:ss dd/MM/yyyy' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="voided">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">Status</th>
        <td mat-cell *matCellDef="let element" style="text-align: center; width: 10%">
          <div *ngIf="element.isDeleted">
            <mat-icon title="Voided" class="voidedIcon">cancel</mat-icon>
          </div>
          <div *ngIf="!element.isDeleted">
            <mat-icon title="Active" class="activeIcon">check_circle</mat-icon>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="text-align: center">Action</th>
        <td mat-cell *matCellDef="let element" style="text-align: center">
          <button
            *ngIf="
              selectedSalesRecordType !== 'Invoice' &&
              selectedSalesRecordType !== 'Return' &&
              !element.fullFilled &&
              !element.isDeleted
            "
            title="Convert"
            mat-icon-button
            color="primary"
            (click)="openConvertDialog(element)"
            aria-label="Convert"
          >
            <mat-icon>cached</mat-icon>
          </button>
          <button
            title="Reprint"
            mat-icon-button
            color="primary"
            (click)="openPrintDialog(element)"
            aria-label="Reprint"
          >
            <mat-icon>print</mat-icon>
          </button>
          <button
            *ngIf="!element.isDeleted"
            title="Void"
            mat-icon-button
            color="accent"
            (click)="openVoidDialog(element)"
            aria-label="Void"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</mat-card>
