<form
  (keydown.enter)="$event.preventDefault()"
  class="fullWidth"
  fxLayout="column"
  [formGroup]="createVendorForm"
  #formDirective="ngForm"
>
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-form-field fxFlex="25">
      <input
        #firstInput="matInput"
        type="text"
        placeholder="Vendor Name"
        matInput
        formControlName="name"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let vendor of filteredOptions | async" [value]="vendor.name">
          {{ vendor.name }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="createVendorForm.controls['name'].hasError('required')"> Vendor Name is required. </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="10">
      <mat-label>Payment Period</mat-label>
      <input type="number" formControlName="paymentPeriodDays" matInput placeholder="Days" />
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="25" fxLayout="column" fxLayoutGap="10px">
      <div formArrayName="addresses">
        <div *ngFor="let address of addresses.controls; let i = index">
          <mat-form-field class="fullWidth">
            <mat-label>Address</mat-label>
            <input matInput [formControlName]="i" />
            <button
              (keydown.enter)="addAddress()"
              title="Add Extra Address"
              matSuffix
              mat-icon-button
              aria-label="add"
              (click)="addAddress()"
            >
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div fxFlex="20" fxLayout="column" fxLayoutGap="10px">
      <div formArrayName="phoneNumbers">
        <div *ngFor="let phoneNumber of phoneNumbers.controls; let i = index">
          <mat-form-field class="fullWidth">
            <mat-label>Phone Number</mat-label>
            <input matInput [formControlName]="i" />
            <button
              (keydown.enter)="addPhoneNumber()"
              title="Add Extra Phone Number"
              matSuffix
              mat-icon-button
              aria-label="add"
              (click)="addPhoneNumber()"
            >
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div fxFlex="20" fxLayout="column" fxLayoutGap="10px">
      <div formArrayName="emails">
        <div *ngFor="let email of emails.controls; let i = index">
          <mat-form-field class="fullWidth">
            <mat-label>Email</mat-label>
            <input matInput [formControlName]="i" />
            <button
              (keydown.enter)="addEmail()"
              title="Add Extra Email"
              matSuffix
              mat-icon-button
              aria-label="add"
              (click)="addEmail()"
            >
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div fxFlex="20" fxLayout="column" fxLayoutGap="10px">
      <div formArrayName="faxNumbers">
        <div *ngFor="let faxNumber of faxNumbers.controls; let i = index">
          <mat-form-field class="fullWidth">
            <mat-label>Fax Number</mat-label>
            <input matInput [formControlName]="i" />
            <button
              (keydown.enter)="addFaxNumber()"
              title="Add Extra Fax Number"
              matSuffix
              mat-icon-button
              aria-label="add"
              (click)="addFaxNumber()"
            >
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</form>
<div fxLayout="row">
  <div fxFlex="50">
    <button mat-raised-button (click)="onReset()" color="accent">RESET</button>
    <button mat-raised-button [disabled]="!createVendorForm.valid" (click)="onSubmit()" color="primary">SAVE</button>
  </div>
  <div fxFlex fxLayoutAlign="end end">
    <button *ngIf="editMode" mat-button (click)="onDelete()" color="warn">DELETE</button>
  </div>
</div>
