<mat-card>
  <mat-form-field appearance="fill">
    <mat-label>Please Select </mat-label>
    <mat-select [(ngModel)]="selectedInvType" name="food">
      <mat-option *ngFor="let type of INVENTORY_TYPES" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-brand-mgt *ngIf="selectedInvType == 'Brand'"></app-brand-mgt>
  <app-product-mgt *ngIf="selectedInvType == 'Product'"></app-product-mgt>
  <app-category-mgt *ngIf="selectedInvType == 'Category'"></app-category-mgt>
  <app-vendor-mgt *ngIf="selectedInvType == 'Vendor'"></app-vendor-mgt>
  <app-purchase-order-mgt *ngIf="selectedInvType == 'P.O.'"></app-purchase-order-mgt>
</mat-card>
