@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cyberpunk-app-primary: mat-palette($mat-green, 300, 200, 500);
$cyberpunk-app-accent: mat-palette($mat-orange, 300, 200, 500);

// The warn palette is optional (defaults to red).
$cyberpunk-app-warn: mat-palette($mat-red, A400, A100, A700);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as `color` or `typography`.
$cyberpunk-app-theme: mat-light-theme($cyberpunk-app-primary, $cyberpunk-app-accent, $cyberpunk-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($cyberpunk-app-theme);
