<link type="text/css" rel="stylesheet" media="all" [href]='sanitizer.bypassSecurityTrustResourceUrl(cssUrl)'>

<div flexLayout="row" fxLayoutAlign="space-between center">
  <button fxFlex="45" class="button buttons" style="background-color: #06d6a0" (click)="print()">PRINT</button>
  <button fxFlex="45" class="button buttons" style="background-color: #d62828" mat-dialog-close>CLOSE</button>
</div>
<div class="printable">
  <app-header [salesRecord]="data.salesRecord"></app-header>

  <div class="itemTable">
    <div class="itemTableHeader" fxLayout="row">
      <div fxFlex="2"></div>
      <div fxFlex="16">Item</div>
      <div fxFlex="37">Description</div>
      <div class="itemTableNumber" fxFlex="15">Qty</div>
      <div class="itemTableNumber" fxFlex="15">Price</div>
      <div class="itemTableNumber" fxFlex="15">Amount</div>
      <div fxFlex="2"></div>
    </div>

    <div *ngFor="let item of data.salesRecord.items">
      <div fxLayout="row">
        <div fxFlex="2"></div>
        <div fxFlex="16">
          {{ item.barcode }}
        </div>
        <div fxFlex="37">
          {{ item.desc }}
        </div>
        <div class="itemTableNumber" fxFlex="15">
          {{ item.qty }}
        </div>
        <div class="itemTableNumber" fxFlex="15">
          {{ item.adjustedPrice | currency}}
        </div>
        <div class="itemTableNumber" fxFlex="15">
          {{ item.adjustedPrice * item.qty | currency }}
        </div>
        <div fxFlex="2"></div>
      </div>
    </div>
  </div>
</div>

<app-footer [salesRecord]="data.salesRecord"></app-footer>
