.button {
  border: none;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  opacity: 0.7;
}

.button:hover {
  border: none;
  color: black;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  opacity: 1;
}

.itemTable {
  border: 1px solid;
  min-height: 26em;
}

.itemTableHeader {
  font-weight: bold;
  border-bottom: 1px solid;
}

.itemTableNumber {
  text-align: right;
}

.button:hover {
  cursor: pointer;
}
