<form
  (keydown.enter)="$event.preventDefault()"
  fxLayout="column"
  [formGroup]="createProductForm"
  #formDirective="ngForm"
>
  <div fxLayout="row" fxLayoutGap="15px">
    <mat-form-field fxFlex="30">
      <mat-label>Barcode</mat-label>
      <input appAutoFocus #firstInput="matInput" formControlName="barcode" matInput placeholder="Barcode" />
      <mat-error *ngIf="createProductForm.controls['barcode'].hasError('required')"> Barcode is required. </mat-error>
    </mat-form-field>
    <div fxLayout="column" fxFlex="30">
      <div formArrayName="productCode">
        <div *ngFor="let code of productCode.controls; let i = index">
          <mat-form-field class="fullWidth">
            <mat-label>Product Code {{ i }}</mat-label>
            <input matInput [formControlName]="i" />
            <button
              (keydown.enter)="addProductCode()"
              title="Add Product Code"
              matSuffix
              mat-icon-button
              aria-label="add"
              (click)="addProductCode()"
            >
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>
        </div>
      </div>
    </div>
    <mat-form-field fxFlex="30">
      <mat-label>Qty</mat-label>
      <input [readonly]="nonEditableQty" formControlName="qty" type="number" matInput placeholder="Qty" />
      <button matSuffix (click)="openPasswordDialog()" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="15px">
    <mat-form-field fxFlex="30">
      <mat-label>Cost</mat-label>
      <input formControlName="cost" type="number" matInput placeholder="Cost" />
      <mat-error *ngIf="createProductForm.controls['cost'].hasError('required')"> Product Cost is required. </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="30">
      <mat-label>Price</mat-label>
      <input formControlName="price" type="number" matInput placeholder="Price" />
      <mat-error *ngIf="createProductForm.controls['price'].hasError('required')">
        Product Price is required.
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutGap="15px">
    <mat-form-field fxFlex="30">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Name" />
      <mat-error *ngIf="createProductForm.controls['name'].hasError('required')"> Product Name is required. </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="30">
      <mat-label>Description</mat-label>
      <input formControlName="desc" matInput placeholder="Description" />
      <mat-error *ngIf="createProductForm.controls['desc'].hasError('required')">
        Product Description is required.
      </mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutGap="15px">
    <mat-form-field fxFlex="30">
      <input type="text" placeholder="Category Name" matInput formControlName="category" [matAutocomplete]="catAuto" />
      <mat-autocomplete #catAuto="matAutocomplete" [displayWith]="displayName">
        <mat-option *ngFor="let category of filteredCategoryOptions | async" [value]="category">
          {{ category.name }}
        </mat-option>
      </mat-autocomplete>
      <mat-error
        *ngIf="
          createProductForm.controls['category'].hasError('incorrect') ||
          createProductForm.controls['category'].hasError('required')
        "
      >
        Please select a category from the list.
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="30">
      <input
        (keyup.enter)="saveProduct()"
        type="text"
        placeholder="Brand Name"
        matInput
        formControlName="brand"
        [matAutocomplete]="brandAuto"
      />
      <mat-autocomplete #brandAuto="matAutocomplete" [displayWith]="displayName">
        <mat-option *ngFor="let brand of filteredBrandOptions | async" [value]="brand">
          {{ brand.name }}
        </mat-option>
      </mat-autocomplete>
      <mat-error
        *ngIf="
          createProductForm.controls['brand'].hasError('incorrect') ||
          createProductForm.controls['brand'].hasError('required')
        "
      >
        Please select a brand from the list.
      </mat-error>
    </mat-form-field>
  </div>
</form>
<button mat-raised-button (click)="onReset()" color="accent">RESET</button>
<button mat-raised-button [disabled]="!createProductForm.valid" (click)="saveProduct()" color="primary">SAVE</button>
