/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  /* background-image: url('./assets/images/Farm_Computing_crazy.png');
  background-repeat: no-repeat;
  background-size: cover;  */
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #f8f8f8;
}

.mat-table {
  width: 100%;
}

.multiLinedSnack {
  white-space: pre-wrap;
}
.mat-card {
  margin-bottom: 20px;
}
