<form style="height: 100%" fxLayout="column" [formGroup]="paymentForm">
  <div fxLayout="row">
    <div fxFlex="50" style="padding: 24px">
      <label> Total Payable: </label>
    </div>
    <mat-form-field fxFlex="50" appearance="outline">
      <input matInput formControlName="payable" [readonly]="true" />
    </mat-form-field>
  </div>

  <div fxLayout="row">
    <div fxFlex="50" style="padding: 24px">
      <label> Total Payment: </label>
    </div>
    <mat-form-field fxFlex="50" appearance="outline">
      <input matInput formControlName="payment" [readonly]="true" />
    </mat-form-field>
  </div>
  <div fxLayout="row">
    <div fxFlex="50" style="padding: 24px">
      <label> Change: </label>
    </div>
    <mat-form-field fxFlex="50" appearance="outline">
      <input matInput formControlName="change" [readonly]="true" />
      <mat-error *ngIf="change.invalid">Incorrect Payment, change should be 0</mat-error>
    </mat-form-field>
  </div>
</form>
<div fxLayout="column" fxLayoutAlign="space-around end" class="navButtons">
  <button [disabled]="paymentForm.invalid" (click)="parentNext.emit()" mat-raised-button color="primary">NEXT</button>
</div>
