<form #paymentMethodForm="ngForm" (ngSubmit)="(paymentMethodForm.form.valid)" novalidate>
  <table *ngIf="dataSource.data.length > 0" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Payment Type</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="amt">
      <th mat-header-cell *matHeaderCellDef>Amount</th>
      <td mat-cell *matCellDef="let element; let rowIdx = index">
        <mat-form-field>
          <mat-label></mat-label>
          <input
            (keyup)="updatePayMethods()"
            [disabled]="readOnly"
            type="number"
            matInput
            #amount="ngModel"
            name="amt{{ rowIdx }}"
            placeholder="Amount"
            [(ngModel)]="element.amt"
            style="text-overflow: ellipsis"
          />
        </mat-form-field>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</form>
