@media print {
  .itemTable {
    border: 0.1mm solid !important;
    min-height: 20cm !important;
    max-height: 20cm !important;
  }

  .printable {
    font-size: 2.5mm !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .buttons {
    display: none !important;
  }

  @page {
    size: A4 portrait !important;
    margin: 0;
  }

  .cdk-overlay-pane {
    min-width: 100% !important;
    max-width: 100vw !important;
    min-height: 100% !important;
    max-height: 100vh !important;
  }

  .mat-dialog-container {
    box-shadow: none;
    padding: 0.4cm;
  }

  .mat-table {
    box-shadow: none !important;
  }
}
