<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/" color="green" aria-label="HOME" title="Home">
    <mat-icon>home</mat-icon>
  </button>

  <span>Farm POS</span>
  <div class="button sales" routerLink="/sales" title="Sales"></div>
  <div class="button inventory" routerLink="/inventory" title="Inventory"></div>
  <div class="button management" routerLink="/management" title="Management"></div>
  <div class="button financeReport" routerLink="/report" title="Report"></div>
</mat-toolbar>

<div class="background">
  <router-outlet></router-outlet>
</div>
