.background {
  padding: 4vh 6vw 0vh;
}

@media (max-width: 768px) {
  .background {
    padding: 5vh 1vh;
  }
}

@media (max-width: 550px) {
  .background {
    padding: 5vh 1vh;
  }
}

.fullWidth {
  width: 100%;
}

.mat-toolbar {
  padding-left: 6vw;
}

.button {
  text-align: left;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  margin-right: 20px;
  opacity: 0.8;
}

.button:hover {
  cursor: pointer;
  opacity: 1;
}

.sales {
  margin-left: 50px;
  background-image: url(/assets/images/cashbox.png);
}
.inventory {
  background-image: url(/assets/images/warehouse.png);
}
.management {
  background-image: url(/assets/images/mgt.png);
}
.financeReport {
  background-image: url(/assets/images/statistics.png);
}
