<div [hidden]="pageNumber != 0">
  <mat-card>
    <mat-card-title> {{ salesRecordType | uppercase }} </mat-card-title>
    <app-item-table [itemsInput]="items" (updateParentItems)="updateItems($event)"></app-item-table>
    <div class="navButtons" fxLayout="row" fxLayoutAlign="space-between">
      <button [disabled]="items.length === 0" (click)="reset()" mat-raised-button color="accent">RESET</button>
      <button [disabled]="items.length === 0" (click)="advance()" mat-raised-button color="primary">NEXT</button>
    </div>
  </mat-card>
</div>

<div [hidden]="pageNumber != 1">
  <mat-card>
    <mat-card-title>PAYMENT</mat-card-title>
    <div flexLayout="row">
      <div fxFlex="70">
        <app-payment-method-list
          [currPageNumber]="pageNumber"
          [payable]="payable"
          [paymentMethodsInput]="paymentMethods"
          (updateParentPaymentMethods)="updatePaymentMethods($event)"
          [(paymentForm)]="paymentForm"
        ></app-payment-method-list>
      </div>
      <div fxFlex="30">
        <app-payment-form (parentNext)="advance()" [paymentForm]="paymentForm"></app-payment-form>
      </div>
    </div>

    <div class="navButtons" fxLayout="row" fxLayoutAlign="space-between">
      <button (click)="goBack()" mat-raised-button color="accent">BACK</button>
    </div>
  </mat-card>
</div>

<div *ngIf="pageNumber === 2">
  <mat-card>
    <mat-card-title>CONFIRMATION</mat-card-title>

    <app-confirmation
      [paymentForm]="paymentForm"
      [itemsInput]="items"
      [paymentMethods]="paymentMethods"
      [details]="details"
    ></app-confirmation>
    <div class="navButtons" fxLayout="row" fxLayoutAlign="space-between">
      <button (click)="goBack()" mat-raised-button color="accent">BACK</button>
      <button (click)="submit()" *ngIf="paymentForm.get('salesman').valid" mat-raised-button color="primary">
        {{ action.btnDisplay }}
      </button>
    </div>
  </mat-card>
</div>
