<div fxLayout="row">
  <div fxLayout="row" fxFlex="30">
    <mat-form-field fxFlex="90">
      <mat-label>Product Barcode</mat-label>
      <input
        (keyup.enter)="onSearch()"
        matInput
        type="text"
        placeholder="scan or enter the barcode"
        [(ngModel)]="barcodeToSearch"
      />
      <button mat-icon-button matSuffix *ngIf="barcodeToSearch" (click)="onSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="onAdvancedSearch()">Advanced Search</button>
  </div>
</div>
<table *ngIf="dataSource.data.length > 0" mat-table [dataSource]="dataSource" multiTemplateDataRows>
  columnsToDisplay: string[] = ['barcode', 'category', 'brand', 'qty'];

  <ng-container matColumnDef="barcode">
    <th mat-header-cell *matHeaderCellDef>Barcode</th>
    <td mat-cell *matCellDef="let element">{{ element.barcode }}</td>
  </ng-container>
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef>Category</th>
    <td mat-cell *matCellDef="let element">{{ element.category.name }}</td>
  </ng-container>
  <ng-container matColumnDef="brand">
    <th mat-header-cell *matHeaderCellDef>Brand</th>
    <td mat-cell *matCellDef="let element">{{ element.brand.name }}</td>
  </ng-container>
  <ng-container matColumnDef="qty">
    <th mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let element">{{ element.qty }}</td>
  </ng-container>
  <ng-container matColumnDef="cost">
    <th mat-header-cell *matHeaderCellDef>Cost</th>
    <td mat-cell *matCellDef="let element">{{ element.cost }}</td>
  </ng-container>
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let element">{{ element.price }}</td>
  </ng-container>
  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <app-product-form style="width: 100%" [product]="element"></app-product-form>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplay"
    class="example-element-row"
    [class.example-expanded-row]="expandedElement === element"
    (click)="expandedElement = expandedElement === element ? null : element"
  ></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
