<div fxLayout="row">
  <div fxFlex="70">
    PAYMENT
    <app-payment-method-list [paymentMethodsInput]="paymentMethods" [readOnly]="true"></app-payment-method-list>
    ITEMS
    <app-item-table [itemsInput]="itemsInput" [readOnlyMode]="true"></app-item-table>
  </div>
  <div fxFlex>
    <div fxLayout="column" fxFill>
      <form [formGroup]="paymentForm">
        <div fxLayout="row">
          <div fxFlex="50" style="padding: 24px">
            <label> Salesman: </label>
          </div>
          <mat-form-field fxFlex="50" appearance="outline">
            <input appAutoFocus type="text" placeholder="Salesman" matInput formControlName="salesman" />
            <mat-error *ngIf="salesman.invalid">Salesman is missing</mat-error>
          </mat-form-field>
        </div>
      </form>

      <div fxLayout="row" *ngFor="let column of details.columns">
        <div fxFlex="50" style="padding: 24px">
          <label> {{ column.label }}: </label>
        </div>
        <mat-form-field fxFlex="50" appearance="outline">
          <input matInput [(ngModel)]="column.value" [readonly]="true" />
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
