<div class="dashboard" fxLayout="column" fxLayoutAlign="space-around center">
  <div
    class="top"
    fxFlex="45"
    fxFlexAlign="stretch"
    fxLayout="row"
    fxLayoutGap="25px"
    fxLayoutAlign="space-between center"
  >
    <button fxFlexAlign="stretch" fxFlex="50" mat-raised-button color="basic" routerLink="/sales">Sales</button>

    <button fxFlexAlign="stretch" fxFlex="50" mat-raised-button color="basic" routerLink="/inventory">Inventory</button>
  </div>

  <div
    class="bottom"
    fxFlex="45"
    fxFlexAlign="stretch"
    fxLayout="row"
    fxLayoutGap="25px"
    fxLayoutAlign="space-between center"
  >
    <button fxFlexAlign="stretch" fxFlex="50" mat-raised-button color="basic" routerLink="/management">
      Management
    </button>
    <button fxFlexAlign="stretch" fxFlex="50" mat-raised-button color="basic" routerLink="/report">
      Financial Report
    </button>
  </div>
</div>
