.dashboard {
  height: 80vh;
}

button {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 13%;
  position: relative;
}

.top button:nth-child(1) {
  background-image: url(/assets/images/cashbox.png);
}

.top button:nth-child(2) {
  background-image: url(/assets/images/warehouse.png);
}

.bottom button:nth-child(1) {
  background-image: url(/assets/images/mgt.png);
}

.bottom button:nth-child(2) {
  background-image: url(/assets/images/statistics.png);
}

button /deep/ span {
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
}
