<h2 mat-dialog-title>Advanced Search</h2>
<mat-dialog-content>
  <form flexLayout="column" [formGroup]="searchForm">
    <div flexLayout="row">
      <mat-form-field fxFlex="30">
        <mat-label>Description</mat-label>
        <input formControlName="description" matInput placeholder="Description" />
      </mat-form-field>
    </div>
    <div flexLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field fxFlex="30">
        <input
          type="text"
          placeholder="Category Name"
          matInput
          formControlName="category"
          [matAutocomplete]="autoCat"
        />
        <mat-autocomplete #autoCat="matAutocomplete" [displayWith]="displayHelper">
          <mat-option *ngFor="let cat of filteredCategoryOptions | async" [value]="cat">
            {{ cat.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="searchForm.controls['category'].hasError('incorrect')">
          Please select a category from the list.
        </mat-error>
      </mat-form-field>
      <mat-form-field fxFlex="30">
        <input type="text" placeholder="Brand Name" matInput formControlName="brand" [matAutocomplete]="autoBrand" />
        <mat-autocomplete #autoBrand="matAutocomplete" [displayWith]="displayHelper">
          <mat-option *ngFor="let brand of filteredBrandOptions | async" [value]="brand">
            {{ brand.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="searchForm.controls['brand'].hasError('incorrect')">
          Please select a brand from the list.
        </mat-error>
      </mat-form-field>
      <div flexLayout="row" fxLayoutAlign="space-between right">
        <button mat-raised-button color="primary" (click)="onSearch()">Search</button>

        <button *ngIf="dataSource.data.length > 0" mat-raised-button color="primary" (click)="getCsv()">
          Export Csv
        </button>
      </div>
    </div>
  </form>

  <table *ngIf="dataSource.data.length > 0" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="barcode">
      <th style="width: 15%" mat-header-cell *matHeaderCellDef>Barcode</th>
      <td mat-cell *matCellDef="let element">{{ element.barcode }}</td>
    </ng-container>
    <ng-container matColumnDef="productCode">
      <th style="width: 15%" mat-header-cell *matHeaderCellDef>ProduceCode</th>
      <td mat-cell *matCellDef="let element">{{ element.productCode }}</td>
    </ng-container>

    <ng-container matColumnDef="desc">
      <th style="width: 40%" mat-header-cell *matHeaderCellDef>Desc</th>
      <td mat-cell *matCellDef="let element">{{ element.desc }}</td>
    </ng-container>
    <ng-container matColumnDef="brand">
      <th style="width: 10%" mat-header-cell *matHeaderCellDef>Brand</th>
      <td mat-cell *matCellDef="let element">{{ element.brand.name }}</td>
    </ng-container>
    <ng-container matColumnDef="category">
      <th style="width: 10%" mat-header-cell *matHeaderCellDef>Category</th>
      <td mat-cell *matCellDef="let element">{{ element.category.name }}</td>
    </ng-container>

    <ng-container matColumnDef="qty">
      <th class="rightAlign" style="width: 3%" mat-header-cell *matHeaderCellDef>On Hand</th>
      <td class="rightAlign" mat-cell *matCellDef="let element">{{ element.qty }}</td>
    </ng-container>

    <ng-container matColumnDef="costIndividual">
      <th class="rightAlign" style="width: 1%" mat-header-cell *matHeaderCellDef>1</th>
      <td class="rightAlign" mat-cell *matCellDef="let element">{{ element.cost | getCostByIndex: 3 }}</td>
    </ng-container>

    <ng-container matColumnDef="costTen">
      <th class="rightAlign" style="width: 1%" mat-header-cell *matHeaderCellDef>2</th>
      <td class="rightAlign" mat-cell *matCellDef="let element">{{ element.cost | getCostByIndex: 2 }}</td>
    </ng-container>

    <ng-container matColumnDef="costHundred">
      <th class="rightAlign" style="width: 1%" mat-header-cell *matHeaderCellDef>H</th>
      <td class="rightAlign" mat-cell *matCellDef="let element">{{ element.cost | getCostByIndex: 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="costThousand">
      <th class="rightAlign" style="width: 1%" mat-header-cell *matHeaderCellDef>T</th>
      <td class="rightAlign" mat-cell *matCellDef="let element">{{ element.cost | getCostByIndex: 0 }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th class="rightAlign bold" mat-header-cell *matHeaderCellDef></th>
      <td class="rightAlign" mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button (click)="onDismiss()" color="accent">CLOSE</button>
  <button mat-raised-button [disabled]="dataSource.data.length == 0" (click)="onSelectAll()" color="primary">
    SELECT ALL
  </button>
  <button mat-raised-button [disabled]="selection.selected.length == 0" (click)="onSelected()" color="primary">
    SELECT
  </button>
</mat-dialog-actions>
