<form [formGroup]="timeRangeForm">
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign=" center">
    <mat-form-field fxFlex="39" color="primary" appearance="fill">
      <mat-label>Start Date</mat-label>
      <input matInput formControlName="startDate" [matDatepicker]="picker1" />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field fxFlex="39" color="primary" appearance="fill">
      <mat-label>End Date</mat-label>
      <input matInput formControlName="endDate" [matDatepicker]="picker2" />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <button fxFlex [disabled]="timeRangeForm.invalid" mat-raised-button color="primary" (click)="onSearch()">
      Search
    </button>
  </div>
</form>
