<div *ngIf="!readOnlyMode" fxLayout="row">
  <div fxLayout="row" fxFlex="30">
    <mat-form-field fxFlex="90">
      <mat-label>Barcode/Product Code</mat-label>
      <input
        #firstInput="matInput"
        (keyup.enter)="onSearch()"
        matInput
        type="text"
        placeholder="Scan/Enter a Product ID"
        [(ngModel)]="barcodeToSearch"
      />
      <button matSuffix *ngIf="barcodeToSearch" (click)="onSearch()" mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="onAdvancedSearch()">Advanced Search</button>
  </div>
</div>
<form #itemForm="ngForm" novalidate *ngIf="dataSource.data.length > 0">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th style="width: 200px" mat-header-cell *matHeaderCellDef>Barcode</th>
      <td mat-cell *matCellDef="let element">{{ element.barcode }}</td>
      <td mat-footer-cell *matFooterCellDef>{{ priceSecret }}</td>
    </ng-container>

    <ng-container matColumnDef="desc">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element">{{ element.desc }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container *ngIf="!readOnlyMode" matColumnDef="qty">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element; let rowIdx = index">
        <mat-form-field style="width: 100px" hideRequiredMarker>
          <mat-label></mat-label>
          <input
            [disabled]="readOnlyMode"
            type="number"
            matInput
            #quantity="ngModel"
            name="quantity{{ rowIdx }}"
            placeholder="quantity"
            [(ngModel)]="element.qty"
            required
            style="text-overflow: ellipsis"
          />
          <mat-error *ngIf="quantity?.invalid">
            <div *ngIf="quantity.errors.required">Quantity is required</div>
          </mat-error>
        </mat-form-field>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container *ngIf="readOnlyMode" matColumnDef="qty">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element; let rowIdx = index">
        {{ element.qty }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container *ngIf="!readOnlyMode && !poEntryMode" matColumnDef="adjustedPrice">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element; let rowIdx = index">
        <mat-form-field style="width: 100px" hideRequiredMarker>
          <mat-label></mat-label>
          <input
            [disabled]="readOnlyMode || poEntryMode"
            type="number"
            matInput
            #adjustedPrice="ngModel"
            name="adjustedPrice{{ rowIdx }}"
            placeholder="Price"
            [(ngModel)]="element.adjustedPrice"
            required
            style="text-overflow: ellipsis"
          />
          <mat-error *ngIf="adjustedPrice?.invalid">
            <div *ngIf="adjustedPrice.errors.required">Price is required</div>
          </mat-error>
        </mat-form-field>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container *ngIf="readOnlyMode && !poEntryMode" matColumnDef="adjustedPrice">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element; let rowIdx = index">
        {{ element.adjustedPrice }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container *ngIf="poEntryMode" matColumnDef="adjustedPrice">
      <th mat-header-cell *matHeaderCellDef>Cost</th>
      <td mat-cell *matCellDef="let element; let rowIdx = index">
        {{ element.cost ? element.cost : '-' }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="discount">
      <th mat-header-cell *matHeaderCellDef>Discount</th>
      <td mat-cell *matCellDef="let element; let rowIdx = index">
        <div *ngIf="element.price - element.adjustedPrice >= 0 && element.adjustedPrice > 0; else elseBlock">
          {{ element.price - element.adjustedPrice | currency }}
        </div>
        <ng-template #elseBlock>
          {{ 0 | currency }}
        </ng-template>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="totalDiscount">
      <th mat-header-cell *matHeaderCellDef>Total Discount</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.price - element.adjustedPrice >= 0 && element.adjustedPrice > 0; else elseBlock">
          {{ element.qty * (element.price - element.adjustedPrice) | currency }}
        </div>
        <ng-template #elseBlock>
          {{ 0 | currency }}
        </ng-template>
      </td>
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Price</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="poEntryMode">
          {{ element.cost * element.qty | currency }}
        </div>
        <div *ngIf="!poEntryMode">
          {{ element.adjustedPrice * element.qty | currency }}
        </div>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="netTotal">
      <th mat-header-cell *matHeaderCellDef>Net</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="poEntryMode">
          {{ element.cost * element.qty | currency }}
        </div>
        <div *ngIf="!poEntryMode">
          {{ element.adjustedPrice * element.qty | currency }}
        </div>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <div *ngIf="poEntryMode">
          {{ getTotalCost() | currency }}
        </div>
        <div *ngIf="!poEntryMode">
          {{ getTotalPrice() | currency }}
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell [hidden]="readOnlyMode" *matCellDef="let element; let rowIdx = index">
        <button title="Remove" type="button" mat-icon-button (click)="onRemove(rowIdx)">
          <mat-icon>cancel</mat-icon>
        </button>
        <button
          *ngIf="poEntryMode"
          title="Add S.N."
          type="button"
          mat-icon-button
          (click)="addSerialNumberList(element, element.qty)"
        >
          <mat-icon>description</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumnsFooter"></tr>
  </table>
</form>
