<div class="footer" fxLayout="row">
  <div fxFlex="70" fxLayout="column">
    * Please note that / 請注意 *
    <div fxLayout="row">
      <div class="row" fxFlex="3">1.</div>
      <div fxFlex fxLayout="column">
        <div class="row" fxFlex>All goods sold are non-refundable</div>
        <div>所有已出售貨品不設現金退還</div>
      </div>
    </div>

    <div fxLayout="row">
      <div class="row" fxFlex="3">2.</div>
      <div fxFlex fxLayout="column">
        <div class="row">Defective goods must be returned with full packing and receipt within 7 days</div>
        <div>有問題的貨品均需在七天內連同發票,完整包裝和配件到購買分店辦理更換</div>
      </div>
    </div>

    <div fxLayout="row">
      <div class="row" fxFlex="3">3.</div>
      <div fxFlex fxLayout="column">
        <div class="row" fxFlex>Our company reserves the right for change of goods</div>
        <div>本公司保留拒絕更換個別貨品之權利</div>
      </div>
    </div>
  </div>
  <div *ngIf="recordType !== 'quotation'" fxFlex="28" fxLayout="column">
    <div *ngIf="salesRecord.payments.length > 0" fxLayout="row" class="totalPaymentAmt">
      <div class="alignRight" fxFlex="33">{{ paymentLabel }}</div>
      <div fxFlex fxLayout="column">
        <div *ngFor="let payment of salesRecord.payments">
          <div fxLayout="row">
            <div fxFlex="50">
              {{ payment.name }}
            </div>
            <div fxFlex="50" class="alignRight">
              {{ payment.amt | currency }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="prevPaid > 0" fxLayout="row">
      <div class="alignRight" fxFlex="33">Deposit:</div>
      <div fxFlex class="alignRight">
        {{ prevPaid | currency }}
      </div>
    </div>

    <div fxLayout="row">
      <div class="alignRight" fxFlex="33">{{ totalAmtLabel }}</div>
      <div fxFlex class="alignRight">
        {{ totalPaymentAmt | currency }}
      </div>
    </div>

    <div fxLayout="row">
      <div class="alignRight" fxFlex="33">{{ payableLabel }}</div>
      <div fxFlex class="alignRight">
        {{ totalPayable | currency }}
      </div>
    </div>
    <div fxLayout="row">
      <div class="alignRight" fxFlex="33">{{ reminderLabel }}</div>
      <div fxFlex class="alignRight">
        {{ change | currency }}
      </div>
    </div>
  </div>
</div>
