<div fxLayout="column">
  <div fxLayout="row">
    <app-time-range-form fxFlex="50" (parentOnSearch)="queryPO($event)"></app-time-range-form>
  </div>

  <div *ngIf="purchaseOrders.length > 0">
    <div fxLayout="row" class="columnNames">
      <div fxFlex="20">Name</div>
      <div fxFlex="20">RefNum</div>
      <div fxFlex="20">Order Date</div>
      <div fxFlex="20">Purchaser</div>
      <div fxFlex="20">Payment Period Days</div>
    </div>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let po of purchaseOrders; index as i" hideToggle>
        <mat-expansion-panel-header fxLayout="row">
          <div fxFlex="20">
            {{ po.vendor.name }}
          </div>
          <div fxFlex="20">
            {{ po.vendorRefNum }}
          </div>
          <div fxFlex="20">
            {{ po.vendorOrderDate | date: 'dd/MM/yyyy' }}
          </div>
          <div fxFlex="20">
            {{ po.purchaser }}
          </div>
          <div fxFlex="20">
            {{ po.vendor.paymentPeriodDays }}
          </div>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <mat-divider [inset]="true"></mat-divider>
          <app-purchase-order-form [purchaseOrder]="po" [readOnlyMode]="true"></app-purchase-order-form>
        </ng-template>


      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
