<div>
  <mat-tab-group animationDuration="0ms" [(selectedIndex)]="selectedIndex" [disableRipple]="true">
    <mat-tab label="Invoice" #tab1>
      <ng-template matTabContent>
        <app-sales-record [salesRecordType]="SALES_RECORD_TYPES.INVOICE"></app-sales-record>
      </ng-template>
    </mat-tab>
    <mat-tab label="Order" #tab2>
      <ng-template matTabContent>
        <app-sales-record [salesRecordType]="SALES_RECORD_TYPES.ORDER"></app-sales-record>
      </ng-template>
    </mat-tab>
    <mat-tab label="Quotation" #tab3>
      <ng-template matTabContent>
        <app-sales-record [salesRecordType]="SALES_RECORD_TYPES.QUOTATION"></app-sales-record>
      </ng-template>
    </mat-tab>
    <mat-tab label="Return" #tab4>
      <ng-template matTabContent>
        <app-sales-record [salesRecordType]="SALES_RECORD_TYPES.RETURN"></app-sales-record>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
