<h2 mat-dialog-title>Enter Password</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input appAutoFocus type="password" [(ngModel)]="password" matInput placeholder="Password" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="onDismiss()" mat-dialog-close color="accent">Cancel</button>
  <button mat-raised-button (click)="onConfirm()" cdkFocusInitial color="primary">Confirm</button>
</mat-dialog-actions>
