<mat-tab-group mat-align-tabs="start" animationDuration="0ms">
  <mat-tab label="SalesRecord">
    <app-sales-record-mgt></app-sales-record-mgt>
  </mat-tab>
  <mat-tab label="Inventory">
    <app-inventory-mgt></app-inventory-mgt>
  </mat-tab>
</mat-tab-group>
