<h2 mat-dialog-title>Confirm</h2>
<mat-dialog-content>{{ data.question }}</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="accent" (click)="onDismiss()" mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="onConfirm()" cdkFocusInitial>
    {{ data.confirmButtonDisplay }}
  </button>
</mat-dialog-actions>
