<div [formGroup]="form">
  <div fxLayout="row">
    <div fxFlex="50" style="padding: 24px">
      <label [attr.for]="formControl.key">{{ formControl.label }}</label>
    </div>
    <div fxFlex="50" [ngSwitch]="formControl.controlType">
      <input
        matInput
        *ngSwitchCase="'input'"
        [formControlName]="formControl.key"
        [id]="formControl.key"
        [type]="formControl.type"
      />
    </div>
    <div class="errorMessage" *ngIf="!isValid">{{ formControl.label }} is required</div>
  </div>
</div>
