.row {
  max-height: 0.4cm;
  font-size: 0.3cm;
}
.desc {
  font-size: 0.3cm;
}
.rightAlign {
  text-align: right;
}
.compName {
  font-weight: bold;
  font-size: 0.5cm;
}
.recordType {
  font-weight: bold;
  font-size: 0.5cm;
}
.header {
  max-height: 3cm;
  min-height: 3cm;
}
