<div class="header" fxLayout="column" fxLayoutAlign="space-between">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <div fxLayout="column" fxFlex="75">
      <div class="compName">Farm Computer Limited</div>
      <div class="compName">農場電腦有限公司</div>
    </div>
    <div class="recordType">{{ salesRecord.recordType | uppercase }}</div>
  </div>
  <div fxLayout="row">
    <div fxLayout="column" fxFlex="75">
      <div class="row desc">Address: Shop 164-166, 1/F, Wan Chai Computer Centre, 130 Hennessy Road, Hong Kong</div>
      <div class="row desc">地址: 香港灣仔軒尼詩道130號灣仔電腦城164-166號舖</div>
      <div class="row desc">Tel: +852 9737 2236</div>
      <div class="desc">Email: info@farmcomputer.com.hk</div>
    </div>
    <div fxLayout="column" fxFlex>
      <div class="row rightAlign">DATE: {{ salesRecord.createdAt | date: 'dd/MM/yyyy' }}</div>
      <div class="row rightAlign">{{ salesRecord.recordType | uppercase }} NO: {{ salesRecord._id }}</div>
      <div class="desc rightAlign">STAFF: {{ salesRecord.salesman }}</div>
    </div>
  </div>
</div>
