<form fxLayout="column" [formGroup]="vendorInfoForm" #formDirective="ngForm">
  <div fxLayoutGap="20px" fxLayout="row">
    <mat-form-field fxFlex="30">
      <input
        #firstInput="matInput"
        type="text"
        placeholder="Vendor Name"
        matInput
        formControlName="vendor"
        [matAutocomplete]="autoVen"
      />
      <mat-autocomplete #autoVen="matAutocomplete" [displayWith]="displayName">
        <mat-option *ngFor="let vendor of filteredVendorOptions | async" [value]="vendor">
          {{ vendor.name }}
        </mat-option>
      </mat-autocomplete>
      <mat-error *ngIf="vendorInfoForm.controls['vendor'].hasError('incorrect')">
        Please select a vendor from the list.
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="30">
      <mat-label>Vendor Order Ref.</mat-label>
      <input formControlName="vendorRefNum" matInput />
      <mat-error *ngIf="vendorInfoForm.controls['vendorRefNum'].hasError('required')">
        Purchase order reference number is required.
      </mat-error>
    </mat-form-field>
  </div>
  <div fxLayoutGap="20px" fxLayout="row">
    <mat-form-field fxFlex="30" color="primary" appearance="fill">
      <mat-label>Vendor Order Date</mat-label>
      <input matInput formControlName="vendorOrderDate" [matDatepicker]="picker1" />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error *ngIf="vendorInfoForm.controls['vendorOrderDate'].hasError('required')">
        Vendor order date is required.
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field fxFlex="30">
      <mat-label>Purchaser</mat-label>
      <input formControlName="purchaser" matInput placeholder="Purchaser" />
      <mat-error *ngIf="vendorInfoForm.controls['purchaser'].hasError('required')"> Purchaser is required. </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field fxFlex="62">
      <mat-label>Remark</mat-label>
      <textarea matInput formControlName="remark" placeholder="Remark"></textarea>
    </mat-form-field>
  </div>
</form>
<app-item-table
  (updateParentItems)="updateItems($event)"
  [readOnlyMode]="readOnlyMode"
  [poEntryMode]="true"
  [itemsInput]="items"
></app-item-table>
<button *ngIf="!readOnlyMode" mat-raised-button [disabled]="vendorInfoForm.invalid" (click)="submit()" color="primary">
  SAVE
</button>

<div *ngIf="readOnlyMode" fxLayout="row" fxLayoutAlign="end">
  <button mat-raised-button color="warn" (click)="onDelete()">DELETE</button>
</div>
