<mat-card>
  <mat-card-title>Sales Report</mat-card-title>
  <mat-card-content>
    <div fxLayout="row" >
      <app-time-range-form fxFlex="50" (parentOnSearch)="searchByTimeRange($event)"></app-time-range-form>
      <div fxFlex="2"></div>
      <div *ngIf="report && report.salesRecords.length > 0" fxLayoutAlign=" center" fxFlex>
        <button mat-raised-button color="primary" (click)="getCsvFile()">
          Export as csv
        </button>
      </div>
    </div>
  </mat-card-content>
  <mat-accordion *ngIf="report">
    <mat-expansion-panel *ngFor="let salesRecord of report.salesRecords">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="fullWidth" fxLayout="row">
            <div fxFlex="19">
              {{ salesRecord._id | uppercase }}
            </div>
            <div fxFlex="21" fxLayout="row">
              <div class="label numberLabel rightMargin" fxFlex="61">Record Count:</div>
              <div fxFlex>{{ salesRecord.count }}</div>
            </div>
            <div fxFlex="21" fxLayout="row">
              <div class="label numberLabel" fxFlex="60">Subtotal:</div>
              <div class="numberValue" fxFlex>{{ salesRecord.subTotal | currency }}</div>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="label" fxLayout="row">
        <div fxFlex="20">Type</div>
        <div class="numberLabel" fxFlex="20">Payment Count</div>
        <div class="numberLabel" fxFlex="20">Amount</div>
      </div>
      <div fxLayout="row" *ngFor="let payment of salesRecord.payments">
        <div fxFlex="20">{{ payment.name }}</div>
        <div class="numberValue" fxFlex="20">{{ payment.value.count }}</div>
        <div class="numberValue" fxFlex="20">{{ payment.value.amt | currency }}</div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="fullWidth" fxLayout="row">
            <div fxFlex="19">SUMMARY</div>
            <div fxFlex="21" fxLayout="row">
              <div class="label numberLabel rightMargin" fxFlex="61">Record Count:</div>
              <div fxFlex>{{ report.summary.count }}</div>
            </div>
            <div fxFlex="21" fxLayout="row">
              <div class="label numberLabel" fxFlex="60">Subtotal:</div>
              <div class="numberValue" fxFlex>{{ report.summary.subTotal | currency }}</div>
            </div>
            <div fxFlex="21" fxLayout="row">
              <div class="label numberLabel" fxFlex="60">Profit:</div>
              <div class="numberValue" fxFlex>{{ report.summary.profit | currency }}</div>
            </div>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="label" fxLayout="row">
        <div fxFlex="20">Type</div>
        <div class="numberLabel" fxFlex="20">Payment Count</div>
        <div class="numberLabel" fxFlex="20">Amount</div>
      </div>
      <div fxLayout="row" *ngFor="let payment of report.summary.payments">
        <div fxFlex="20">{{ payment.name }}</div>
        <div class="numberValue" fxFlex="20">{{ payment.value.count }}</div>
        <div class="numberValue" fxFlex="20">{{ payment.value.amt | currency }}</div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>
