.label {
  font-weight: bold;
}

.numberLabel {
  text-align: right;
}
.numberValue {
  text-align: right;
}
.mat-expansion-panel-header-title {
  width: 100%;
}
.fullWidth {
  width: 100%;
}
.rightMargin {
  margin-right: 2px;
}
