<h2 mat-dialog-title>Add product serial number</h2>
<mat-dialog-content>
  <div flexLayout="column">
    <div flexLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field fxFlex="20">
        <mat-label>Serial Number</mat-label>
        <input [(ngModel)]="sn" matInput placeholder="SN" (keyup.enter)="onAddSN()" type="text" />
        <button matSuffix *ngIf="sn" (click)="onAddSN()" mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>
      <div fxFlex="40">
        <div flexLayout="row">
          <div class="text" fxFlex="50">Remaining product</div>
          <div class="text" fxFlex="50">
            {{ count }}
          </div>
        </div>
      </div>
    </div>
    <table *ngIf="dataSource.data.length > 0" mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="sn">
        <th style="width: 95%" mat-header-cell *matHeaderCellDef>SN.</th>
        <td mat-cell *matCellDef="let element">{{ element }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th style="width: 5%" mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element; let rowIdx = index">
          <button type="button" mat-icon-button (click)="onRemove(rowIdx)">
            <mat-icon>cancel</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button (click)="onDismiss()" color="accent">CLOSE</button>
  <button mat-raised-button (click)="onConfirm()" [disabled]="count > 0" color="primary">SAVE</button>
</mat-dialog-actions>
