<form fxLayout="row" [formGroup]="brandForm" #formDirective="ngForm">
  <mat-form-field fxFlex="30">
    <input (keydown.enter)="onSubmit()" type="text" placeholder="Brand Name" matInput formControlName="name" />
    <mat-error *ngIf="brandForm.controls['name'].hasError('required')"> Brand Name is required. </mat-error>
  </mat-form-field>
</form>
<div fxLayout="row">
  <button mat-raised-button color="accent" (click)="onReset()">RESET</button>
  <button mat-raised-button color="primary" [disabled]="!brandForm.valid" (click)="onSubmit()">SAVE</button>
</div>
