<div *ngIf="vendors.length > 0">
  <div fxLayout="row" class="columnNames">
    <div fxFlex="60">Name</div>
    <div fxFlex="10" class="alignRight">Payment Period Days</div>
  </div>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let vendor of vendors; index as i" hideToggle>
      <mat-expansion-panel-header fxLayout="row">
        <div fxFlex="60">
          {{ vendor.name }}
        </div>
        <div fxFlex="10" class="alignRight">
          {{ vendor.paymentPeriodDays }}
        </div>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <mat-divider [inset]="true"></mat-divider>
        <app-vendor-form class="fullWidth" [vendor]="vendor" [editMode]="true"></app-vendor-form>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
